COMMERCIAL ;
SYSCONFIG MCCLK_FREQ=26 ;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
# ECP3 PCIE Solution Board I/O Bank Voltages
BANK 0 VCCIO 1.5 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
# BANK 4 - not used
# BANK 5 - not used
BANK 6 VCCIO 3.3 V;
BANK 7 VCCIO 1.5 V;
BANK 8 VCCIO 3.3 V;
BLOCK PATH FROM PORT "rstn" ;
BLOCK PATH TO PORT "dp" ;
BLOCK PATH TO PORT "led_out*" ;
BLOCK PATH FROM PORT "dip_switch*" ;
BLOCK PATH TO CELL "led_dp*" ;
BLOCK NET "led_*" ;
#BLOCK NET "la_*" ;
#BLOCK NET "TP_*" ;
BLOCK NET "dp*" ;
# Inside PCIe Core
BLOCK PATH FROM CELL "*ctc_reset_chx*" ;
BLOCK NET "core_rst_n" ;
# Define Multi cycle
MULTICYCLE FROM CELL "*nfts_rx_skp_cnt*" TO CELL "*cnt_done_nfts_rx*" 2.000000 X ;
MULTICYCLE FROM CELL "*nfts_rx_skp_cnt*" TO CELL "*ltssm_nfts_rx_skp*" 2.000000 X ;
# Define Maxdelay
MAXDELAY FROM CELL "*u1_dut/u1_phy/u1_scram/u1_txrc/wr_pntr*" 6.000000 ns ;
MAXDELAY FROM CELL "*u1_dut/u1_phy/u1_scram/u1_rxrc/rd_pntr*" 6.000000 ns ;
MAXDELAY FROM CELL "*u1_dut/u1_phy/u1_ltssm/u1_osenc/rd_ptr*" 6.000000 ns ;
MAXDELAY FROM CELL "*u1_dut/u1_phy/u1_ltssm/u1_osenc/wr_ptr*" 6.000000 ns ;
MAXDELAY FROM CELL "*u1_dut/u1_phy/u1_frm/u1_frm_ins/frm_data*" 6.000000 ns ;
MAXDELAY FROM CELL "*u1_dut/u1_phy/u1_frm/u1_frm_ins/frm_kcntl*" 6.000000 ns ;
FREQUENCY NET "clk_125_keep" 125.000000 MHz PAR_ADJ 15.000000 ;
FREQUENCY NET "pcie/pclk" 250.000000 MHz ;
FREQUENCY NET "pcie/u1_pcs_pipe/ff_rx_fclk_0" 250.000000 MHz ;
USE PRIMARY NET "clk_125_keep" ;
USE PRIMARY NET "pcie/pclk" ;
USE SECONDARY NET "pcie/u1_pcs_pipe/ff_rx_fclk_0" ;
LOCATE COMP "pcie/u1_pcs_pipe/pcs_top_0/pcs_inst_0" SITE "PCSA" ;
IOBUF PORT "rstn" SITE=E18 IO_TYPE=LVCMOS25 ;
IOBUF PORT "FLIP_LANES" SITE=W17 IO_TYPE=LVCMOS25 PULLMODE=DOWN ;
#============= DIP SWITCHES ===============
# SW3:of board
IOBUF PORT "dip_switch_0" SITE=J7 IO_TYPE=LVCMOS15 ;
IOBUF PORT "dip_switch_1" SITE=J6 IO_TYPE=LVCMOS15 ;
IOBUF PORT "dip_switch_2" SITE=H2 IO_TYPE=LVCMOS15 ;
IOBUF PORT "dip_switch_3" SITE=H3 IO_TYPE=LVCMOS15 ;
IOBUF PORT "dip_switch_4" SITE=J3 IO_TYPE=LVCMOS15 ;
IOBUF PORT "dip_switch_5" SITE=K3 IO_TYPE=LVCMOS15 ;
IOBUF PORT "dip_switch_6" SITE=J2 IO_TYPE=LVCMOS15 ;
IOBUF PORT "dip_switch_7" SITE=J1 IO_TYPE=LVCMOS15 ;
#============= 14 SEGMENT LEDS ===============
IOBUF PORT "led_out_0" SITE=V6 IO_TYPE=LVCMOS33 ;# A
IOBUF PORT "led_out_1" SITE=U7 IO_TYPE=LVCMOS33 ;# B
IOBUF PORT "led_out_2" SITE=Y6 IO_TYPE=LVCMOS33 ;# C
IOBUF PORT "led_out_3" SITE=AA6 IO_TYPE=LVCMOS33 ;# D
IOBUF PORT "led_out_4" SITE=U8 IO_TYPE=LVCMOS33 ;# E
IOBUF PORT "led_out_5" SITE=T8 IO_TYPE=LVCMOS33 ;# F
IOBUF PORT "led_out_6" SITE=R9 IO_TYPE=LVCMOS33 ;# G
IOBUF PORT "led_out_7" SITE=T9 IO_TYPE=LVCMOS33 ;# H
IOBUF PORT "led_out_8" SITE=AB3 IO_TYPE=LVCMOS33 ;# K
IOBUF PORT "led_out_9" SITE=AB4 IO_TYPE=LVCMOS33 ;# M
IOBUF PORT "led_out_10" SITE=W4 IO_TYPE=LVCMOS33 ;# N
IOBUF PORT "led_out_11" SITE=Y5 IO_TYPE=LVCMOS33 ;# P
IOBUF PORT "led_out_12" SITE=AA4 IO_TYPE=LVCMOS33 ;# R
IOBUF PORT "led_out_13" SITE=AA5 IO_TYPE=LVCMOS33 ;# S
#IOBUF PORT "led_out_14" SITE= IO_TYPE=LVCMOS33 ;# T
#IOBUF PORT "led_out_15" SITE= IO_TYPE=LVCMOS33 ;# U
IOBUF PORT "dp" SITE=W5 IO_TYPE=LVCMOS33 ;# DP
#============= ETHERNET PHY ===============
IOBUF PORT "phy1_rx_clk" SITE=L4 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy1_rx_dv" SITE=M1 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy1_rx_data_7" SITE=P3 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy1_rx_data_6" SITE=P5 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy1_rx_data_5" SITE=R2 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy1_rx_data_4" SITE=T2 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy1_rx_data_3" SITE=P6 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy1_rx_data_2" SITE=N6 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy1_rx_data_1" SITE=N1 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy1_rx_data_0" SITE=M5 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy1_rst_n" SITE=L3 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy1_gtx_clk" SITE=M2 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy1_tx_en" SITE=V3 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy1_tx_data_7" SITE=N2 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy1_tx_data_6" SITE=N4 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy1_tx_data_5" SITE=N3 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy1_tx_data_4" SITE=N5 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy1_tx_data_3" SITE=P1 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy1_tx_data_2" SITE=R3 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy1_tx_data_1" SITE=U1 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy1_tx_data_0" SITE=V1 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy1_mii_clk" SITE=V4 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy1_mii_data" SITE=L2 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy1_125M_clk" SITE=T3 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy1_tx_clk" SITE=C12 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy2_rx_clk" SITE=N19 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy2_rx_dv" SITE=U15 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy2_rx_data_7" SITE=Y21 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy2_rx_data_6" SITE=W21 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy2_rx_data_5" SITE=R18 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy2_rx_data_4" SITE=T17 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy2_rx_data_3" SITE=V21 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy2_rx_data_2" SITE=R19 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy2_rx_data_1" SITE=AA17 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy2_rx_data_0" SITE=AB17 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy2_rst_n" SITE=R21 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy2_gtx_clk" SITE=M19 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy2_tx_en" SITE=V22 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy2_tx_data_7" SITE=U20 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy2_tx_data_6" SITE=P20 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy2_tx_data_5" SITE=U22 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy2_tx_data_4" SITE=T21 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy2_tx_data_3" SITE=Y22 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy2_tx_data_2" SITE=P17 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy2_tx_data_1" SITE=R16 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy2_tx_data_0" SITE=W22 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy2_mii_clk" SITE=Y18 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy2_mii_data" SITE=U16 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy2_125M_clk" SITE=R17 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy2_tx_clk" SITE=M21 IO_TYPE=LVCMOS33 ;
BLOCK JTAGPATHS ;
FREQUENCY PORT "phy1_125M_clk" 125.000000 MHz ;
FREQUENCY PORT "phy2_125M_clk" 125.000000 MHz ;
FREQUENCY PORT "phy1_rx_clk" 125.000000 MHz ;
FREQUENCY PORT "phy2_rx_clk" 125.000000 MHz ;
LOCATE COMP "reset_n" SITE "A21" ;
